@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head_div {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 250px;
    height: 200px;
    background-color: #136cd5;
}